<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="<%= gossips_path %>">All Gossips</a>
      <a class="nav-item nav-link" href="<%= mousaillons_path %>">All Mousaillons</a>
      <a class="nav-item nav-link" href="<%= new_mousaillon_path %>">Create a new Mousaillon</a>
    </div>
  </div>
</nav>