<h1>INDEX ma boii</h1>

<p>pas eu le temps, du coup ce projet est resté en suspens...</p>

<p>dommage car il y a plein de trucs cools comme les validations des models et le gravatar</p>

<p>mais là, faut passer aux exos car il est tard</p>
