<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%= root_url %>">All Gossips</a>
      <a class="nav-item nav-link" href="<%= new_gossip_url %>">Create a gossip</a>
    </div>
  </div>
</nav>